html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratRegular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratMedium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratSemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratBold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2a2a72;
  --light-blue: #4a4a92;
  --red: #ff6464;
  --light-red: #ff9696;
  --background-light: #f4f7fa;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-light);
  color: #21243d;
}

p {
  margin-bottom: 1.5rem;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    text-decoration 0.3s ease-in-out;
}

.link:focus {
  outline: 1px solid var(--red);
  outline-offset: 5px;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  outline: none;
  border: none;
}

.link:active {
  border-radius: 5px;
  background-color: var(--light-red);
  text-decoration: none;
  outline: none;
  border: none;
}

.descr {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.title {
  margin: 0;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 40px;
  text-align: center;
}

/* header */

.header {
  margin-bottom: 60px;
  padding: 27px 0;
}

.header__list {
  display: flex;
  justify-content: end;
  gap: 33px;
  font-weight: 600;
}

/* hero */

.hero {
  padding: 0px 0 20px 0;
}

.main-title {
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}

.hero__descr {
  margin-bottom: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: animation 1s ease-in-out;
}

.hero__container {
  display: flex;
  gap: 225px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  text-align: center;
}

.hero__text {
  max-width: 506px;
}

.hero__img {
  border-radius: 50%;
}

.hero__link {
  display: inline-block;
  padding: 17px 21px;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  border: none;
  border-radius: 16px;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    outline 0.3s ease-in-out;
}

.hero__link--resume {
  background-color: var(--red);
}

.hero__link--github {
  background-color: var(--light-blue);
}

.hero__link:focus {
  outline: 1px solid var(--red);
  outline-offset: 5px;
}

.hero__link:hover {
  text-decoration: none;
  color: var(--white);
  background-color: var(--light-red);
  outline: none;
  border: none;
}

.hero__link:active {
  border-radius: 16px;
  background-color: var(--light-red);
  text-decoration: none;
  outline: none;
  border: none;
}

/* works */

.works {
  padding: 140px 0;
}

.title--react,
.title--html {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.works__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.works__column {
  width: calc(50% - 20px);
}

.works__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.html-works .works__list {
  flex-direction: row;
  flex-wrap: wrap;
}

.html-works .works__item {
  width: calc(50% - 20px);
}

.works__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  border-radius: 25px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.works__item:focus {
  outline: 1px solid var(--red);
  outline-offset: 5px;
}

.works__item:hover {
  background-color: var(--red);
  transform: scale(1.05);
  outline: none;
  border: none;
}

.works__item:active {
  background-color: var(--light-red);
  text-decoration: none;
  outline: none;
  border: none;
}

.works__img {
  align-self: center;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.works__item:hover img {
  transform: scale(1.1);
}

.works__wrapper {
  padding: 15px;
}

.works__subtitle {
  margin: 0;
}

/* footer */

.footer {
  padding: 50px 0;
  border-top: 2px solid gray;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  align-items: center;
}

.footer__descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  font-weight: 600;
}

.contacts__item {
  font-size: 24px;
}

.social {
  display: flex;
  gap: 35px;
  margin-top: 20px;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.social__img:hover {
  filter: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-title {
  text-align: left;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.main-title:after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* auto-world-js */

.auto-world-js {
  display: none;
}

/* skills */

.skills {
  padding: 60px 0;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skills__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 30%;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-align: center;
}

.skills__item:hover {
  background-color: var(--light-red);
  transform: scale(1.05);
}

.skills__icon {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.skills__icon:hover {
  filter: none;
}

.skills__descr {
  margin: 0;
  font-size: 1rem;
  color: #21243d;
}

/* language */

.language-switcher {
  margin-left: auto; /* Перемещаем блок в правый угол */
  display: flex;
  align-items: center;
}

.language-switcher select {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--blue); /* Основной цвет фона */
  color: var(--white); /* Цвет текста */
  padding: 8px 12px;
  border: 2px solid var(--light-blue); /* Обводка */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.language-switcher select:hover {
  background-color: var(--light-blue); /* Изменение цвета фона при наведении */
  border-color: var(--red); /* Изменение цвета обводки при наведении */
}

.language-switcher select:focus {
  outline: none;
  border-color: var(--red); /* Изменение цвета обводки при фокусе */
}

/*  */

.header__nav {
  display: flex;
  justify-content: flex-end; /* Выровнять весь блок навигации и выбора языка вправо */
  align-items: center;
  gap: 20px; /* Задаем промежуток между меню и выбором языка */
}

.language-switcher {
  margin-left: 0; /* Убираем auto, так как теперь используется flexbox */
}

.header__list {
  display: flex;
  gap: 33px; /* Задаем промежуток между элементами меню */
  font-weight: 600;
}
